body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}

.container {
    margin-top: 100px;
    text-align: center;
}

h1 {
    color: #4CAF50;
    font-size: 40px;
}

p {
    font-size: 20px;
}
